.top-dashboard-container {
  @include f-grid;
  margin-bottom: 1rem;
}

.bottom-dashboard-container {
  width: 100%;

  .entry-row {
    @include f-container;
    justify-content: space-between;

    .entry-row-item {
      width: 100%;
    }

    .entry-row-item-time {
      width: 100%;
      @include f-container;
      justify-content: left;

      .time-div {
        margin: 0 0.5rem;
      }

      .time-div-date {
        @include badge-no-bg;
        background: #555;
        color: white;
      }

      .time-div-time {
        @include badge-no-bg;
        background: #333;
        color: white;
      }
    }
  }
}
